# dev
dev-docs/
tmp/

# editor settings
.idea/
.vscode/settings.json

# system files
.DS_Store

# secrets
.env

# venv
.venv/

# data
**/db/*
!**/db/.gitkeep
logs/

# python cache
__pycache__/

# cache
.*cache/

# frontend
node_modules/