#articles {
  margin: 1rem 0;
}
#articles ul {
  margin: 0;
}
.category-list {
  list-style: none;
}
.category-title {
  margin: 0;
  font-size: 1rem;
  color: #515151;
}
.article-title {
  display: block;
  margin: 0.5rem 0;
  text-decoration: none;
}
.article-title:hover {
  text-decoration: underline;
}
.article-title-item {
  list-style: disc;
  margin: 0 1rem;
}
