.comments-section {
    margin-top: 2rem;
    background: var(--color-container-background);
    border-top: 1px solid var(--color-border);
}

.comments-section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-text);
}

#comment-form {
    margin-bottom: 2rem;
}

.reply-form {
    margin-top: 1rem;
    padding-left: 1rem;
    border-left: 2px solid var(--color-border);
}

#comment-form div {
    margin-bottom: 0.5rem;
}

#comment-form label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
    color: var(--color-text);
}

#comment-form input,
#comment-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    color: var(--color-text);
}

#comment-form textarea {
    height: 3rem;
    resize: vertical;
}

#comment-form input:focus,
#comment-form textarea:focus {
    outline: none;
    border-color: var(--color-link);
}

#comment-form button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background: var(--color-link);
    color: #fff;
    cursor: pointer;
}

#comment-form button:hover {
    background: var(--color-link-hover);
}

.comment {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-left: 4px solid var(--color-border);
    background: #f9f9f9;
}

.comment .comment-header {
    font-size: 0.825rem;
    color: var(--color-text-light);
}

.comment-social {
    display: flex;
    justify-content: space-between;
}

.comment-social div {
    flex: 1;
}

.comment-social div+div {
    margin: 0 0 0 1rem;
}

.comment p {
    margin-bottom: 0.5rem;
}

.comment strong {
    color: var(--color-link);
}

.comment .comment-content {
    margin-bottom: 0.5rem;
    color: var(--color-text);
}

.comment .reply-link {
    color: var(--color-link);
    text-decoration: none;
    cursor: pointer;
}

.comment .reply-link:hover {
    text-decoration: underline;
}

.replies {
    margin-top: 1rem;
    padding-left: 1rem;
    border-left: 2px solid var(--color-border);
}

.reply {
    margin-bottom: 1rem;
}

.reply .reply-header {
    font-size: 0.825rem;
}

.reply p {
    margin-bottom: 0.5rem;
}

.reply strong {
    color: var(--color-link);
}

.reply .reply-content {
    color: var(--color-text);
}