@import url('variables.css');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1.6;
  font-size: 14px;
  background: var(--color-background);
  color: var(--color-text);
}

.header-top {
  display: flex;
  align-items: center;
  margin: 0 auto 2rem 0;
  width: fit-content;
}

.header-top img {
  width: 3.8rem;
  height: 3.8rem;
  margin-right: 1rem;
}

.blog-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-info h1 {
  font-size: 1.5em;
  margin: 0;
}

.blog-info p {
  margin: 0;
  font-size: 1em;
}

nav {
  font-size: 0.85rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

nav a {
  margin-right: 1rem;
  color: var(--color-link);
  text-decoration: none;
}

.current-page {
  color: var(--color-link);
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 3rem;
  background: var(--color-container-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul,
ol {
  margin: 0.5rem;
}

li {
  margin: 0.25rem 0.5rem;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

a:focus {
  color: var(--color-link-hover);
  outline: thin dotted;
}

a:visited {
  color: var(--color-link-visited);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 1.5rem 0 1rem;
}

del {
  color: var(--color-text);
}

ins {
  background: var(--color-highlight);
  text-decoration: none;
}

hr {
  background-color: var(--color-border);
  border: 0;
  height: 1px;
  margin: 24px 0 1.72rem;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

small {
  font-size: smaller;
}

img {
  border: 0;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

footer {
  border-top: 1px solid var(--color-border);
  padding: 1.5rem 0 0 0;
  margin: 2rem 0 0 0;
  text-align: center;
  font-size: 0.8em;
  color: var(--color-footer-text);
}