.toc {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 260px;
    height: 100vh;
    overflow: hidden;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#toc-content .toc-link::before {
    background-color: #f8f9fa;
}

#toc-content a {
    color: #333;
    text-decoration: none;
}

#toc-content .is-active-link::before {
    background-color: #333;
}