:root {
    --color-bg-body: #f8f8f8;
    --color-bg-container: #ffffff;
    --color-bg-pre: #f8f8f8;
    --color-text: #1e1e1e;
    --color-text-secondary: #616161;
    --color-border: #c3c3c3;
    --color-primary: #005fb8;
    --color-secondary: #0078d4;
    --color-star: #fdf0a0;
    --color-sky: #3c9dff;
}

[data-theme="dark"] {
    --color-bg-body: #181818;
    --color-bg-container: #1f1f1f;
    --color-bg-pre: #2b2b2b;
    --color-text: #cccccc;
    --color-text-secondary: #868686;
    --color-border: #454545;
    --color-primary: #0078d4;
    --color-secondary: #005fb8;
    --color-star: #ced2d8;
    --color-sky: #0d1231;
}