{% extends 'base.html' %}

{% block subtitle %}
  归档
{% endblock %}

{% block content %}
  <h2>归档</h2>
  {% for year, articles in archive.items() %}
    <h5>{{ year }} ({{ articles|length }})</h5>
    <ul>
      {% for item in articles %}
        <li>
          {{ item.month_day }} <a href="{{ url_for('main.article', title=item.article.title) }}">{{ item.article.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}

{% block scripts %}
  <script></script>
{% endblock %}
