{% extends 'base.html' %}
{% block subtitle %}
  {{ metadata.title }}
{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/github.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.12.0/tocbot.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/comment.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/toc.css') }}" />
{% endblock %}

{% block content %}
  <div class="toc">
    <h2 class="toc-title">目录</h2>
    <div id="toc-content"></div>
  </div>

  <h1 id="article-meta-title">{{ metadata.title }}</h1>
  <div class="article-meta-header">
    <div class="article-meta-info">
      {% if metadata.category %}
        <p class="article-meta-category">
          分类：<a href="{{ url_for('main.category', category=metadata.category) }}">@{{ metadata.category }}</a>
        </p>
      {% endif %}
      {% if metadata.tags %}
        <ul class="article-meta-tag">
          标签：{% for tag in metadata.tags %}
            <li>
              <a href="{{ url_for('main.tag', tag=tag) }}">#{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if metadata.date %}
        <p class="article-meta-date">写作：{{ metadata.date }}</p>
      {% endif %}
      <p class="article-meta-word-count">字数：约 {{ metadata.word_count }} 字</p>
    </div>
  </div>
  <div class="article-content">{{ html_content|safe }}</div>
  <div class="comments-section">
    <h3>评论</h3>
    <form id="comment-form" method="post">
      <input type="hidden" name="parent_id" value="" />
      <div>
        <label for="author">昵称<span class="required">*</span>:</label>
        <input type="text" id="author" name="author" placeholder="怎么称呼你" required />
      </div>
      <div class="comment-social">
        <div>
          <label for="website">网站:</label>
          <input type="text" id="website" name="website" placeholder="你的站点链接" />
        </div>
        <div>
          <label for="email">邮箱:</label>
          <input type="email" id="email" name="email" placeholder="邮箱不会被公开，仅用于我联系你" />
        </div>
      </div>
      <div>
        <label for="content">评论<span class="required">*</span>:</label>
        <textarea id="content" name="content" required></textarea>
      </div>
      <button type="submit">提交评论</button>
    </form>

    <div class="comments">
      {% for comment in comments %}
        <div class="comment" id="comment-{{ comment.id }}">
          <p class="comment-header">
            <a href="{{ comment.website }}" class="comment-author-url" target="_blank" rel="noopener noreferrer"><strong>{{ comment.author }}</strong></a>
            于 {{ comment.created_at }} 说:
          </p>
          <p class="comment-content">{{ comment.content }}</p>
          <a href="#" class="reply-link" data-comment-id="{{ comment.id }}">回复</a>
          <div class="replies">
            {% for reply in comment.replies %}
              <div class="reply" id="comment-{{ reply.id }}">
                <p class="reply-header">
                  <a href="{{ reply.website }}" class="comment-author-url" target="_blank" rel="noopener noreferrer"><strong>{{ reply.author }}</strong></a> 于 {{ reply.created_at }} 说:
                </p>
                <p class="reply-content">{{ reply.content }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/contrib/auto-render.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.12.0/tocbot.min.js"></script>
  <script src="{{ url_for('static', filename='js/article.js') }}"></script>
  <script>
    document.querySelectorAll('.reply-link').forEach((link) => {
      link.addEventListener('click', function (event) {
        event.preventDefault()
        const commentId = this.getAttribute('data-comment-id')
        const existingForm = this.parentElement.querySelector('.reply-form')
        if (existingForm) {
          existingForm.scrollIntoView({ behavior: 'smooth' })
          return
        }
        const form = document.getElementById('comment-form').cloneNode(true)
        form.classList.add('reply-form')
        form.querySelector('input[name="parent_id"]').value = commentId
        this.parentElement.appendChild(form)
        form.scrollIntoView({ behavior: 'smooth' })
      })
    })
    
    const newCommentId = '{{ new_comment_id }}'
    if (newCommentId) {
      const newCommentElement = document.getElementById(`comment-${newCommentId}`)
      if (newCommentElement) {
        newCommentElement.scrollIntoView({ behavior: 'smooth' })
      }
    }
  </script>
{% endblock %}
