{% extends 'base.html' %} {% block subtitle %}{{ metadata.title }}{% endblock %}
{% block styles %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/github.min.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.css" />
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/article.css') }}" />
{% endblock %} {% block content %}
<!--div.article-top-->
{{ toc|safe }}

<h1 id="article-meta-title">{{ metadata.title }}</h1>
<div class="article-meta-header">
  {% if metadata.category %}
  <p class="article-meta-category">
    分类：<a href="{{ url_for('main.category', category=metadata.category) }}"
      >@{{ metadata.category }}</a
    >
  </p>
  {% endif %} {% if metadata.tags %}
  <ul class="article-meta-tag">
    标签： {% for tag in metadata.tags %}
    <li>
      <a href="{{ url_for('main.tag', tag=tag) }}">#{{ tag }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %} {% if metadata.date %}
  <p class="article-meta-date">写作：{{ metadata.date }}</p>
  {% endif %}
  <p class="article-meta-word-count">字数：共 {{ metadata.word_count }} 字</p>
</div>
<div class="article-content">{{ html_content|safe }}</div>
{% endblock %} {% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/contrib/auto-render.min.js"></script>
<script src="{{ url_for('static', filename='js/article.js') }}"></script>
{% endblock %}
