{% extends 'base.html' %}

{% block subtitle %}
  分类 - {{ category }}
{% endblock %}

{% block content %}
  <h2>分类: {{ category }}</h2>
  {% if archive %}
    {% for year, articles in archive.items() %}
      <h5>{{ year }} ({{ articles|length }})</h5>
      <ul>
        {% for item in articles %}
          <li>
            {{ item.month_day }} <a href="{{ url_for('main.article', title=item.article.title) }}">{{ item.article.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% else %}
    <p>没有找到相关文章。</p>
  {% endif %}
{% endblock %}
